# Project - All Occurrences
.env
*.tgz
*.zip

# Project - Root relative occurrences
/.*
/dist/*
/mount
/*.env
/*.env.*
/**/_*

# System
*.bak
*.orig
.DS_Store
.idea

# Except for ...
!/bin/_*
!/.github
# !dist/cct*.zip
# !dist/cct*.tgz